body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Monotype Corsiva', serif;
  color: #f0e6d2;
  background-image: url("../puzzle3img/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
} 

html, body {
  min-height: 100vh;
}

/* Smaller Container */
.container3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 15px;
  width: 120%;
  max-width: 700px; 
  margin-bottom: 65px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  z-index: 1;
}


/* Word and Letter Tiles */
.letter-tile {
  display: inline-block;
  padding: 8px;
  margin: 5px;
  background-color: #4B2C20;
  color: #f0e6d2;
  font-size: 18px;
  border-radius: 5px;
  cursor: move;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s ease;
}

.letter-tile.highlight {
  background-color: goldenrod;
  color: #000;
  font-weight: bold;
}

/* Code Input and Button */
#code-input {
  padding: 8px 15px;
  font-size: 18px;
  border: 2px solid #8B4513;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f0e6d2;
  width: 180px;
}

#submit-button {
  padding: 8px 15px;
  font-size: 18px;
  background-color: #4B2C20;
  color: #f0e6d2;
  border: 2px solid #8B4513;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

#submit-button:hover {
  background-color: #6B4B3A;
}

#code-message {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.success {
  color: green;
}

.error {
  color: red;
}
<<<<<<< HEAD
=======

#code-input::placeholder {
  font-size: 14px;
  color: #c0c0c0;
  opacity: 1;
}

/* Popup overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Popup content */
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 80%;
  max-width: 400px;
}

.popup-content h2 {
  margin: 0 0 10px;
  color: #4CAF50;
}

.popup-content p {
  margin: 0 0 20px;
}

/* Close button */
.close {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.close:hover {
  background-color: #45a049;
}
>>>>>>> d043057db922233546bc83a8b3f9ad2904f9fa8c
