body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Monotype Corsiva', serif;
  color: #f0e6d2;
  background-image: url("../puzzle3img/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

/* Smaller Container */
.container3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 15px;
  width: 120%;
  max-width: 700px; /* Reduced max-width */
  margin-bottom: 65px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  z-index: 1;
}


/* Word and Letter Tiles */
.letter-tile {
  display: inline-block;
  padding: 8px;
  margin: 5px;
  background-color: #4B2C20;
  color: #f0e6d2;
  font-size: 18px;
  border-radius: 5px;
  cursor: move;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s ease;
}

.letter-tile.highlight {
  background-color: goldenrod;
  color: #000;
  font-weight: bold;
}

/* Code Input and Button */
#code-input {
  padding: 8px 15px;
  font-size: 18px;
  border: 2px solid #8B4513;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f0e6d2;
  width: 180px;
}

#submit-button {
  padding: 8px 15px;
  font-size: 18px;
  background-color: #4B2C20;
  color: #f0e6d2;
  border: 2px solid #8B4513;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

#submit-button:hover {
  background-color: #6B4B3A;
}

#code-message {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.success {
  color: green;
}

.error {
  color: red;
}
